<%- include("partials/header") %>


    <div class="container">
        <h1 class="display-1 fw-bold mb-3">Register</h1>

        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <form action="/register" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="username">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else :)</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>

                </form>
            </div>
        </div>
        <div class="card-body google-login">
            <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                <i class="bi bi-google"></i>
                Sign Up with Google
            </a>
        </div>

    </div>

    <%- include("partials/footer") %>