<%- include("partials/header") %>

    <div class="jumbotron center">
        <div class="container">
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-1 fw-bold">You've discovered my secret</h1>
            <p class=" fs-4 secret-text">I am in love with pookie.</p>
            <hr>
            <a class="btn btn-light btn-lg" href="/register" role="button">Logout</a>
            <a class="btn btn-dark btn-lg" href="/login" role="button">Submit a Secret</a>
        </div>
    </div>
    <%- include("partials/footer") %>